<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.drawingboardapps.transactionsdk">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name="com.drawingboardapps.transactionsdk.TransactionService">
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
